{%  extends "layout.html.j2" %}
{%  block title %}Index{% endblock %}
{% block content %}
<h1>Index</h1>
<p>Welcome</p>
<h2>tags:</h2>
<ul>
	{%  for tag in tags %}
	<li>{{ tag.value }}</li>
	{%  endfor %}
</ul>
{% endblock %}
