nav {
	margin: 0 auto;
}

nav ul {
	list-style: none;
}
nav ul li {
	text-align: center;
	padding: 5px;
	float: left;
	position: relative;
	z-index: 5;
	background-color: #ccc;
	width: 250px;
}

/*nav ul li a {
	padding: 5px;
	display: block;
	overflow: hidden;
	width: 250px;
	height: 1.5em;

}*/

nav ul li ul { display: none; }

nav ul li:hover ul
{
	padding: 0;
	display: block;
	position: absolute;
	top: 1.5em;
	left: 0;
	overflow: hidden;
	width: 250px;
}


#header {
	width: 100%;
	float: left;
	clear: left;
}

#content {
	width: 100%;
	float: left;
	clear: left;
}

#footer {
	width: 100%;
	float: left;
	clear: left;
}
