{%  extends "layout.html.j2" %}
{%  block title %}Subdir / With/ module{% endblock %}
{% block content %}
<h1>Without module in subdir</h1>
<p>Jinja template without module in subdir</p>
{% endblock %}
